body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../images/stone-pic.jpg') no-repeat center center/cover;
}

canvas {
    border: 1px solid #fff;
    display: block;
    margin: auto;
   border-radius: 5px   ;
}
