body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
}

.con{
    margin: 0;
    padding: 0;
  

}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50px;

}

.game-logo{
    height: 40px;
    width: 40px;
}

.logo-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.brand-name{
    text-decoration: line-through;
    text-decoration-color: green;
    padding: 1px;
    margin: 0;
    border-radius: 5px;
}


h1{
    display: flex;
    align-items: center;
    margin: 0;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 10px;
}

#gameCanvas {
    border: 2px solid #fff;
}

footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50px;
}


.main-div {
    position: relative;
    width: 900px;
    height: 400px;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 50px;
}

.image1 {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.image1.active {
    opacity: 1;
}

.side-btn{
    display: flex;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.side-btn:hover{
    background-color: rgb(193, 187, 187);
    color: #333;
}


@keyframes textAnimation {
    0% {
        width: 0;
    }
    40% {
        width: 100%;
    }
    100% {
        width: 100%;
    }
    100% {
        width: 0;
    }
    
}

#gameHubText {
    overflow: hidden;
    white-space: nowrap;
    animation: textAnimation 20s linear infinite;
}